@import "tailwindcss";

@theme {
  --color-primary: #006041;
  --color-secondary: #97a259;
  --color-hero-background: #f4f2ef;
  --color-dark: #1a4034;
  --color-mobile-background: #e7f0ee;
  --color-background-secondary: #f3f8f7;
}

* {
    box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scrollbar-gutter: stable;
}

.container {
  padding-left: calc(100vw - 100%);
}
